apiVersion: 1

contactPoints:
  - orgId: 1
    name: discord-critical
    receivers:
      - uid: discord-critical
        type: discord
        settings:
          url: REPLACE_WITH_YOUR_DISCORD_WEBHOOK_URL
          use_discord_username: false
          message: "{{ template \"default.message\" . }}"
          title: "{{ template \"default.title\" . }}"

policies:
  - orgId: 1
    receiver: discord-critical
    group_by: [alertname]
